/* 상단 사용자 링크 */
.header-top {
    margin-right: 18%;
    font-size: 14px;
    display: flex;
    justify-content: flex-end; /* 우측 정렬 */
    padding: 5px;
}

.header-top .user-links a {
    margin-right: 15px;
    text-decoration: none;
    font-size: 12px;
    color: black;
}

/* 로고 스타일 */
.logo {
    text-decoration: none;
    color: black;
}

.logo h2 {
    margin: 0;
    font-size: 28px;
    font-style: oblique;
    font-weight: 900;
}

/* 로고와 메뉴를 가로로 정렬 */
.header_logo {
    display: flex;
    justify-content: space-between; /* 로고와 메뉴를 양 끝에 배치 */
    align-items: center; /* 세로 정렬 */
    width: 100%;
}

.header_menu {
    display: flex;
    justify-content: flex-end; /* 메뉴 항목들을 우측 정렬 */
    text-align: right;
}

.header_menu a {
    margin: 0 15px; /* 좌우 간격을 추가 */
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.header_menu a.active {
    font-weight: bold;
}
/* 메뉴바 스타일 */
.headers {
    margin-left: 18%;
    margin-right: 18%;
}

.logout-btn{
    background-color: white;
    border: none;
}