/* 공통 스타일 */
.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f4f4f4;
}


/* 폼 컨테이너 스타일 */
.form-container1 {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.form-group1{
    margin-bottom: 15px;
}

.form-group1 label {
    display: block;
    margin-bottom: 5px;
}

.form-group1 input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-btn1 {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn1:hover {
    background-color: #45a049;
}

.message1 {
    margin-top: 10px;
    text-align: center;
}

.message1.green {
    color: green;
}

.message1.red {
    color: red;
}
